* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header {
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  height: 82vh;
}

hr {
  border: .5px solid white;
  border-radius: 10px;
  margin: 20px 0;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  color: #aedd2b;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-style: normal;
  color: #aedd2b;
  padding: 10px;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
  color: #aedd2b;
}

ul {
  list-style-type: none;
  padding: 10px;
}

li,
a {
  display: inline-block;
  padding: 10px;
  border: 1px transparent #02416d;
  border-radius: 10px;
  width: 92%;
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #066699;
  font-weight: 600;
  font-style: normal;
}

footer {
  background-color: #066699;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #02416d;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

th,
td {
  border-bottom: 1px solid #02416d;
  padding: 8px;
  text-align: center;
}

.sidebar {
  background-color: #02416d;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  flex: 1;
}

.btnActions {
  display: flex;
  flex: 1;
  justify-content: center;
}

.btnActions button {
  margin: 5px;
}

.btnUpdate .btnDelete a {
  padding: 0;
}

.btnTable {
  display: flex;
}

.content {
  display: flex;
  background-color: #f8f8ec;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 10px 10px 10px 5px;
  padding: 20px;
  flex: 5;
  overflow: scroll;
}

.content .cardContainer {
  display: inline-block;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  background-color: #066699;
  font-weight: 600;
  font-style: normal;
}

.homeStyle {
  text-align: center;
  padding: 20px;
}

.homeStyle img {
  width: 30%;
  border-radius: 10px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}